* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  /*COLORS*/
  /*main-colors*/
  ---main-bg: hsl(0, 0%, 100%);
  ---main-text: hsl(207, 13%, 34%);
  ---hero-bg: linear-gradient(
    to right,
    hsl(13, 100%, 72%),
    hsl(353, 100%, 62%)
  );
  ---hero-text: hsl(0, 0%, 100%);
  ---footer-bg: hsl(240, 10%, 16%);
  ---footer-text: hsl(240, 2%, 79%);
  --headings: hsl(208, 49%, 24%);
  ---mid-section: linear-gradient(
    to right,
    hsl(237, 17%, 21%),
    hsl(237, 23%, 32%)
  );

  /*button-colors*/
  ---btn-text-color: hsl(356, 100%, 66%);
  --btn-bg: hsl(0, 0%, 100%);
  ---btn-hover-bg: hsl(355, 100%, 74%);
  ---btn-hover-text: hsl(0, 0%, 100%);
  ---alt-btn-text-color: hsl(0, 0%, 100%);
  ---alt-btn-bg: transparent;
  ---alt-btn-hover-bg: hsl(0, 0%, 100%);

  /*typography*/
  ---main-ff: "Overpass", sans-serif;
  ---alt-ff: "Ubuntu", sans-serif;
}
body {
  background-color: var(---main-bg);
  font-family: var(---main-ff);
  text-align: center;
  color: var(---main-text);
}
.header-container {
  background: var(---hero-bg);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-inline: 1.5em;
  padding-block-start: 3.5em;
  padding-block-end: 6.188em;
}

.main-hero {
  background: var(---hero-bg);
  border-end-start-radius: 6.25em;
  color: hsl(0, 0%, 100%);
  padding-inline-start: 2.0625em;
  padding-inline-end: 0.938em;
  padding-block-start: 0.625em;
  padding-block-end: 8.938em;
  background-size: contain;
  isolation: isolate;
}

.main-hero:before{
  content: "";
  inset: 0;
  position: absolute;
  background-image: url(/images/bg-pattern-intro-mobile.svg);
  background-position: center;
  background-size: center;
  width: 100%;
  height: 100px;
  z-index: -1;
  background-repeat: no-repeat;
}

h1{
  font-size: 2.25rem;
  font-weight: 400;
}
.main-hero p {
  font-size: 1.125rem;
  font-weight: 400;
}
.button-section{
  margin-top: 3.188em;
}

.start-btn-cta,
.learn-btn-cta {
  padding-block: 0.938em;
  border-radius: 1.75em;
  font-family: var(---alt-ff);
  font-weight: 700;
}
.start-btn-cta {
  background-color: var(--btn-bg);
  border: var(--btn-bg);
  color: var(---btn-text-color);
  padding-inline: 1.063em;
  margin-right: .5em;
}

.learn-btn-cta{
  padding-inline: 1.563em;
  background: var(---alt-btn-bg);

  color: var(---alt-btn-text-color);
  border: var(---alt-btn-text-color) solid 0.063em;
  margin-left: .5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
